{% extends "index.html" %}
{% load static %}
{% load seguros_filters %}

{% block main %}
    <div 
        class="form active"
        id="form-{{tipo}}"
        >   
        <form tipo="{{tipo}}" id="data-form" method="POST" action="{% url 'seguros:guardar-seguro' %}?tipo={{tipo}}">
            {% csrf_token %}
            <div class="form-container">
                {% if tipo == "celular" %}
                <div class="celular-container">
                    <p>¡El seguro mas elegido por la gente!</p>
                    <br>
                    <div class="text-primary">
                        CONTRATA TU PLAN DE PROTECCIÓN
                    </div>
                    <div class="tilde-list">
                        <div class="tilde">
                            <img src="{% static 'icons/tilde.svg' %}" alt="tilde">
                            <div>Contra Robo</div>
                        </div>
                        <div class="tilde">
                            <img src="{% static 'icons/tilde.svg' %}" alt="tilde">
                            <div>Contra Daño</div>
                        </div>
                        <div class="tilde">
                            <img src="{% static 'icons/tilde.svg' %}" alt="tilde">
                            <div>Pantalla Protegida</div>
                        </div>
                    </div>
                    <br>
                    <a  href="https://www.segurocell.com/?pid=817c99c4861918e518dca75d712983eb" 
                        class="bg-primary"
                        style="
                        cursor: pointer;
                        text-decoration: none;
                        "
                        >Cotizar
                    </a>
                </div>
                
                {% elif tipo == "bici" %}
                    <div class="form-elem">
                        <label>Tipo</label>
                        <select name="tipo-bici" id="bici-select">
                            <option value="bici">Bicicleta</option>
                            <option value="monopatin">Monopatin</option>
                        </select>
                    </div>
                    {% for fm in bici_form %}
                    <div class="form-elem bici-elem">
                        <label>{{fm.label}}</label>
                        {{fm}}
                    </div>
                    {% endfor %}

                    {% for fm in monopatin_form %}
                    <div class="form-elem monopatin-elem">
                        <label>{{fm.label}}</label>
                        {{fm}}
                    </div>
                    {% endfor %}
                        
                    <div class="form-button">
                        <button>Siguiente</button>
                    </div>
                    
                {% elif tipo == "flota" %}
                    {% for fm in form %}
                        <div class="form-elem cantidad-elem">
                            <label>{{fm.label}}</label>
                            {{fm}}
                        </div>
                    {% endfor %}
                        {% for fm in auto_form %}
                        <div class="form-elem auto-elem">
                            <label>{{fm.label}}</label>
                            {{fm}}
                        </div>
                    {% endfor %}
                    
                    <div class="form-button">
                        <button>Siguiente</button>
                    </div>
                {% else %}
                    {% for fm in form %}
                        <div class="form-elem">
                            <label>{{fm.label}}</label>
                            {{fm}}
                        </div>
                    {% endfor %}
                    <div class="form-button">
                        <button>Siguiente</button>
                    </div>
                {% endif %}
            </div>
            
        </form>
        <div class="image-container">
            <div class="image-text">
                {{tipo|image_text_filter|safe}}
            </div>
            <br>
            <div class="image">
                <img src="{% static 'publicidad/'|add:tipo|add:'.png' %}" alt="{{tipo}}">
            </div>
        </div>
        
    </div>
{% endblock %}

{% block js_scripts %}
<script src="{% static 'js/seguros-form.js' %}"></script>
{% if tipo == "auto" %}
<script src="{% static 'js/modelo-version.js' %}"></script>
{% elif tipo == "moto" %}
<script src="{% static 'js/modelo-version.js' %}"></script>
{% elif tipo == "camion" %}
<script src="{% static 'js/modelo-version.js' %}"></script>
{% endif %}

<script src="{% static 'js/'|add:tipo|add:'-form.js' %}"></script>
{% endblock %}