.navbar .links {
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.navbar .links a {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    max-width: 75px;
    margin: 0px 5px;
    height: 100%;
    transition: all 500ms ease;
}

@media screen and (max-width: 767px) {
    .navbar .links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        overflow-x: scroll;
    }
}

.navbar .links a > span {
    font-family: 'Swis721 Blk BT';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    color: gray;
    
}

.navbar .links a:hover {
    text-decoration: underline;
}

.navbar .links a span > img {
    width: 58px;
    height: 48px;
}