.navbar .links {
    padding: 15px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.navbar .links a {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: black;
    max-width: 100px;
    width: 100px!important;
    margin: 0px 10px;
    height: 100px;
    transition: all 500ms ease;
}

@media (max-width: 1400px) {
    .navbar .links {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        overflow-x: scroll;
    }
}

.navbar .links a > span {
    font-family: 'Swis721 Blk BT';
    font-family: Swis721 Blk BT;
    font-size: 15px;
    font-weight: 800;
    line-height: 18px;
    letter-spacing: 0em;
    color: gray;   
    text-align: center;
}

.navbar .links a > span:first-of-type {
    height: 50px;
    width: 60px!important;
}

.navbar .links a:hover {
    text-decoration: underline;
}

.navbar .links a span > img {
    width: 58px!important;
    height: 43px!important;
}