.navbar {
    display: block;
    background-color: var(--background-gray);
}

.navbar .brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 0px 7px 1px gray!important;
    z-index: 10000;
}

.navbar .brand > span > img:first-of-type {
    width: 54px;
    height: 48px;
}

.navbar .brand > span > img:last-of-type {
    width: 200px;
    height: 36px;
}

.navbar .brand > span {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

